extends ../base

block content 
    form(method="POST")
        input(name="oldpw", type="password", placeholder="Old Password",required)
        input(name="newpw", type="password", placeholder="New Password",required)
        input(name="newpw2", type="password", placeholder="New Password Confirm",required)
        input(type="submit", value="Change Password")